<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationTitle" value="Stay alive !" />
    <add key="ApplicationSubTitle" value="CFPT informatique" />

    <add key="ApplicationMode" value="FULLSCREEN"/> <!-- [FULLSCREEN,WINDOW] -->

    <add key="DisplayDebug" value="OFF"/>

    <add key="MessageStart" value="Ready ? Press $ button to start"/>
    <add key="MessageRestart" value="Press 2 players button to restart"/>

    <add key="PlayeSpeedMove" value="6"/>

    <add key="LaserRateByMinTopBottom" value="120"/>
    <add key="LaserRateByMinMiddle" value="45"/>
    
    <add key="EnnemyMinSpeedMove" value="2"/>
    <add key="EnnemyMaxSpeedMove" value="12"/>
    <add key="EnnemyOutRemoveHealth" value="10"/>
  </appSettings>
</configuration>